.grid {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  

  
  .section2 {
    flex: 1; /* Takes up the remaining space */
    background-color: #d0d0d0;
  }
  
  .section3 {
    flex: 0 0 25%; /* Basis 20%, but won't shrink below min-width */
    min-width: 150px; /* Set a minimum width */
    background-color: #b0b0b0;
  }
  

  .section1 {
    flex: 0 0 10%; /* Basis 10%, but won't shrink below min-width */
    min-width: 100px; /* Set a minimum width */
    background-color: #d35c5c;
    border-right: 2px solid black;

    display: flex;
    flex-direction: column; /* Stack mazeSelector and menuOptions vertically */
    justify-content: space-between; /* Push top and bottom sections apart */
    height: 100%; /* Take full height of parent container */
    box-sizing: border-box;
  }
  
  .mazeSelector {
    flex: 1; /* Allow this section to grow if needed */
    display: flex;
    flex-direction: column; /* Arrange buttons in a vertical column */
    overflow-y: auto; /* Enable vertical scrolling if too many buttons */

    width: 100%;
    background-color: #ffffff;
    /* border-bottom: 5px solid #333; */
  }
  
  .mazeButtons{
    display: flex;
    flex-direction: column; /* Arrange buttons in a vertical column */
    max-height: 60vh;
    overflow-y: auto; /* Enable vertical scrolling if too many buttons */
    background-color: #000000;

  }
  .mazeButtons button {
    width: 100%; /* Buttons take up full width of container */
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #333;
    font-family: inherit;
    cursor: pointer;
    padding:5px 0px;
  }
  
.mazeButtons button:hover {
    background-color: #ddd;
  }
  .mazeButtons button.active {
    
    background-color: #c72626; /* Active button background */
    color: #fff; /* Change text color to white */
}
.mazeButtons button.active {
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 0 100%);
}
 

/* .mazeButtons button.active::after {
    content: "a";
    position: absolute;
    top: 50%;
    right: -10px; 
    transform: translateY(-20px);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #007bff; 
} */
  .mazeInfo{
    border-top:3px solid #333;
    font-size: 10px;
    padding: 5px;
  }
  
  .menuOptions {
    display: flex;
    flex-direction: column; /* Arrange buttons in a vertical column */

    background-color: #d0d0d0; /* Example background */
    width: 100%;
  }
  
  .menuOptions button {
    width: 100%; /* Buttons take up full width of container */
    background-color: #fff;
    border:none;
    border-top: 2px solid #333;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    padding:10px 0px;
  }
  
  .menuOptions button:hover {
    background-color: #ddd;
  }
  