/* scrollSnap.module.css */
.grid {
    display: grid;
    grid-template-columns: 1fr; /* Single column grid */
    grid-auto-rows: 100%; /* Each child takes full viewport height */
    overflow-y: auto; /* Makes the grid scrollable vertically */
    scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
    height: 100%;
  }
  
  .section {
    scroll-snap-align: start; /* Snap the section to the start */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%; /* Ensure each section fills the grid's width */
  }
  
  .section1 {
    /* background-color: #f5f5f5; */
    background-color: white;
  }
  
  .container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .left {
    flex: 5.5; /* Take up 50% of the container */
    display: flex;
    flex-direction: column;
  }
  
  .leftTop {
    flex: 0.5; 
    display: flex;
    flex-direction: column;  
    justify-content: flex-end;  
    align-items: flex-start;    
    /* background-color: #f9f9f9; */
    padding-left: 10%;
    margin-bottom: 0px;

  }
  
  .leftBottom {
    flex: 0.5; /* 60% of the left section */
    display: flex;                /* Enable flex layout */
    flex-direction: column;       /* Stack content vertically */

    justify-content: flex-start;  
    align-items: flex-start;    
    text-align: left;  
    
    /* justify-content: center;
    align-items: center;
    text-align: center; */
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 30px;

  }
  
  .right {
    flex: 4.5; /* Take up 50% of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px dashed #333;

  }
  
  .title {

    font-size: 80px;
    color: #333;
    line-height: 1.2;
 
  }
  .subtitle{
    font-size: 27px;
  }
  
  .description {
    font-size: 16px;
    color: #555;

  }
  .fineprint{
    margin-left: 20px;
    font-size: 10px;
  }
  .seperator{
    width: 100%;
    height:5px;
  }
  
  /* .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  } */
 
.nextbutton{
    border-width:0px;
    margin-top: 30px;
    padding:10px 20px;
    background-color: #333;
    color:white;
    font-size: 1rem;
    font-family:inherit;
    cursor: pointer;
    box-sizing: border-box; /* Include padding and border in width/height calculation */
    width: auto; /* Allow the button to expand based on content */
    display: inline-block; /* Make button inline but with block-like styling */
    text-align: center; /* Center the text inside the button */
}
  

.imageContainer {
  position: relative;
  width: 100%; /* Adjust based on your image size */
  height:100%; /* Adjust based on your image size */
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: #fdfaef; */
}

.image {
  position: absolute;
  aspect-ratio: 1 / 1;
  height: min(calc(100vh - 125px), calc(40vw - 120px));
  width: min(calc(100vh - 125px), calc(40vw - 120px));
  transition: transform 0.3s ease-in-out; /* Smooth transition for rotation */

 

}
.layersquares{
  z-index: 0; 
  background-color: rgba(171, 180, 178, 0.414);
  transition: all 0.3s ease;
}
.rotate1{
  transform: rotate(-45deg);
}
.rotate2{
  transform: rotate(45deg);
}

.layer1 {
  z-index: 3; 
  
}

.layer2 {
  z-index: 2; /* Middle layer */
  transform: rotate(45deg);
}

.layer3 {
  z-index: 1;  /*bottom*/
  transform: rotate(-45deg);
}
.layereyes {
  z-index: 4; /* Top layer */
  transform: rotate(-45deg);
}
.layer4 {
  z-index: 4; 
}
.layer5 {
  z-index: 5; 
}
.layertext{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  z-index: 6; 
  font-size:  max(2.5vh, 1.5vw);
  opacity: 0;
  transition: all 0.3s ease;
}

/* Hover Effects */
.imageContainer:hover{

  background-color: #fff8f3;
}
.imageContainer:hover .layer2,
.imageContainer:hover .layer3,
.imageContainer:hover .rotate1,
.imageContainer:hover .layereyes {
  transform: rotate(0deg);
}
/* don't combine this */
.imageContainer:hover .rotate2 {
  transform: rotate(0deg);
  
}
.imageContainer:hover .layersquares{
  background-color: rgba(224, 230, 229, 0);
}


.imageContainer:hover .layertext {
  opacity: 1;
}