/* scrollSnap.module.css */

  .grid{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%; /* Ensure each section fills the grid's width */
    font-size: 14px;
  }
  
  .section1 {
    /* background-color: #f1f1f1; */
    width: 50%;


  }
  

  .faq {
    margin-top: 20px;
  }
  
  .faq h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .faq ul {
    list-style-type: none; /* Remove default bullets */
    padding-left: 20px;
  }
  
  .faq ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  


  .icon{
    width:18px;
    height:18px;
    margin-right: 10px;
  }
  
  .levels li {
    margin-bottom: 15px;
  }