.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  
  .left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .left {
    width: 40%;
    height: 100%;
    margin-left: 50px; 

  }
  
  .topImage {
    width: 80%;
    aspect-ratio: 1/1; /* Adjust ratio as needed */
    /* background-color: #ccc; Placeholder for image */
    margin-bottom: 5px;
  }
  
  .bottomImages {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .bottomImage {
    width: 32%; /* Adjust for spacing */
    aspect-ratio: 1 / 1; /* Square images */
  
  }
  
  .right {
    width: 60%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
  }
  
  .quantitySelector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .quantityButton {
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    background-color: #000000;
    color:white;
    border: none;
    cursor: pointer;
    font-family: inherit;
  }
  .quantityButtonMax{

    font-size: 10px;
    margin-left: 5px;

  }

  .quantityInput {
    width: 250px;
    height: 60px;
    text-align: center;
    font-size: 1rem;
    border: 2px solid #000000;
    margin: 0;
    font-size: 30px;
    font-family: inherit;

  }
  
  .textSection {
    display: flex;
    justify-content: space-between;
    width: 380px;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  
  .leftText, .rightText {
    padding: 0 10px;
  }
  .maxText{
    text-decoration: underline;
    background-color: rgb(241, 106, 106);
    color:white;
    cursor: pointer;
  }
  
  .mintButton {
    padding: 10px 20px;
    font-size: 40px;
    text-align: center;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    font-family: inherit;
  }
  .mintButton:disabled{
    background-color: grey;
    cursor: not-allowed;
  }
  
  .iconsRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust spacing */
    gap: 5px; /* Space between icons */
  }
  
  .icon {
    width: 30px; /* Adjust size as needed */
    height: 30px;
    object-fit: contain;
  }
  .pricetag{
    font-size: 15px;
  }

  .contract{
    margin-top: 10px;
    font-size: 10px;
    color:black;
  }
  .contract a {
    color: black; /* Set link color to black */
    text-decoration: underline;
  }
  .alertText{
    font-size: 14px;
    background-color: rgb(252, 228, 228);
    color:rgb(0, 0, 0);
    padding:5px 20px;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 3px;
  }

  .bridgeText{
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    color:white;
    padding:5px 10px;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    border: 2px solid black;
  
  }
  .txText{
    font-size: 16px;
    color:black;
    text-decoration: underline;
    padding-top: 5px;
  }
  .countdownText{
    font-size: 16px;
    margin-bottom: 0px;
    border:1px solid black;
    padding:5px 25px;
    border-radius: 3px;
    background-color: black;
    color:white;

  }
  .number{
    color:rgb(255, 191, 191)
  }

  .mobileText{
    display: none;
  }

@media (max-width: 900px) {
  .left {
    display: none;
  }
  .right {
    width: calc(100%);

    margin-left: 0px; 
    padding: 10px;
  }
  .textSection {

    width: calc(80%);
    font-size: 12px;

  }
  .title{
    font-size: 30px;
  }

  .quantityButton {
    width: 30px;
    height: 30px;
    font-size: 20px;


  }

  
  .quantityInput {
    width: 100px;
    height: 30px;
    font-size: 15px;


  }
  .countdownText{
    font-size: 10px;
    padding:5px 5px;
  }
  .bridgeText{
    font-size: 12px;
  }
  .txText{
    font-size: 12px;
  }
  .alertText{
    font-size: 10px;
  }
  .mintButton {
    padding: 10px 20px;
    font-size: 20px;
   
  }
  .mobileText{
    display: block;
    font-size: 10px;
    color:blue;
  }
}
